In [3]:
import numpy as np

In [550]:
class Calculator:
    value = 0
    def __init__(self):  # 초기화
        # self.value = 0
        pass
    def add(self, *args):
        if len(args) != 0:
            self.value += np.sum(args, dtype = 'i')
        else:
            print('숫자를 입력해주세요')
                                 
    def minus(self, *args):
        if args != ():
            self.value -= np.sum(args, dtype = 'i')
        else:
            print('숫자를 입력해주세요')

    def show_value(self):   
        print(f'현재 값은 {self.value} 입니다.')

In [551]:
c =Calculator()

In [552]:
c.add(100)

In [553]:
c.add([10,20])

In [554]:
c.minus(20,20,20)

In [555]:
c.minus()

숫자를 입력해주세요

In [556]:
c.add()

숫자를 입력해주세요

In [557]:
c.add(range(1,6))

In [558]:
c.show_value()

현재 값은 85 입니다.

In [570]:
x= np.arange(1,10001)
y = np.arange(10001,20001)

In [571]:
a = np.array([1,2,3,4])
b = np.array([4,2,2,4])
c = np.array([1,2,3,4])

In [566]:
a==b

array([False,  True, False,  True])

In [567]:
a>=b

array([False,  True,  True,  True])

In [572]:
np.all(a==b)

False

In [574]:
np.all(a==c)

True

In [575]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [576]:
100*x

array([  0, 100, 200, 300, 400, 500, 600, 700, 800, 900])

In [577]:
x = np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [579]:
10 * x

array([[  0,  10,  20,  30],
       [ 40,  50,  60,  70],
       [ 80,  90, 100, 110]])

브로드캐스팅

넘파이 배열은 모양이 다른 배열 간의 연산이 가능하도록 배열의 크기를 변환시켜주는 브로드캐스팅을 지원합니다.

넘파이가 산술 연산 중에 모양이 다른 배열을 처리하는 방법에 대해서 살펴봅시다

넘파이가 처리하는 브로드캐스팅의 방법은 더 작은 배열이 더 큰 배열에 호환되는 모양으로 확장하는 식으로 진행됩니다.

확장이 가능한 경우가 있고 반대로 불가능한 경우도 존재한다.

확장 가능한 경우 확인하는 규칙은 다음과 같다.

1. 넘파이 배열의 shpae을 우측 정렬하고 각 차원별로 숫자를 비교한다. 비교하는 모든 차원이 두 조건 중 하나에 충족되어야 브로드캐스팅 가능.
    a. 해당 차원 간의 숫자가 동일한 경우
    b. 해당 차원 중 하나가 1인 경우

차원 축소 연산

넘파이는 다음과 같은 차원 축소 연산 명령 혹은 메서드를 지원합니다.

최대/최소 : min, max, argmin, argmax
통계 : sum, mean, median, std, var
불리언 : all, any

min()메서드는 해당 배열의 제일 작은 값을 결과를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
argmin()메서드는 해당 배열의 제일 작은 값의 인덱스를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
max()메서드는 해당 배열의 제일 큰 값을 결과를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
argmax()메서드는 해당 배열의 제일 큰 값의 인덱스를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
mean()은 평균을 구합니다.
median() 중앙값을 구합니다.
np.all()은 배열 요소가 모두 True일 때 True를 반환합니다.
np.any()는 배열 요소가 하나라도 True면 True를 반환합니다.

In [580]:
x = np.arange(12).reshape(3,-1)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [582]:
x.sum(axis=0) # axis = 0은 행 간의 연산 결과를 구한다.

array([12, 15, 18, 21])

In [583]:
x.sum(axis=1) # axis =1은 열 간의 연산 결과를 구한다.

array([ 6, 22, 38])

In [584]:
x = np.arange(20).reshape(2,5,-1)
x

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [585]:
x.min()

0

In [587]:
np.min(x)

0

In [588]:
x.min(axis=0)

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [589]:
x.min(axis=1)

array([[ 0,  1],
       [10, 11]])

In [590]:
x.min(axis=2)

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18]])

In [592]:
hasattr(range, '__iter__') # 이 True이면 iterable이라는 의미다.

True

In [593]:
practice = np.array([[1.1, 7.1, 8.0, 2.1, 6.5, 7.2],
                     [2.7, 5.2, 3.3, 9.0, 7.7, 2.8],
                     [0.7, 8.8, 4.2, 8.9, 4.3, 7.4],
                     [8.2, 1.1, 5.4, 2.9, 6.9, 0.2],
                     [7.4, 4.8, 2.7, 3.1, 2.8, 8.9]])

min()메서드는 해당 배열의 제일 작은 값을 결과를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
argmin()메서드는 해당 배열의 제일 작은 값의 인덱스를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
max()메서드는 해당 배열의 제일 큰 값을 결과를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
argmax()메서드는 해당 배열의 제일 큰 값의 인덱스를 반환합니다. 연산 대상이 2차원 이상일 때에는 axis 키워드 인수를 사용할 수 있습니다.
mean()은 평균을 구합니다.
median() 중앙값을 구합니다.
np.all()은 배열 요소가 모두 True일 때 True를 반환합니다.
np.any()는 배열 요소가 하나라도 True면 True를 반환합니다.

In [606]:
print(practice.max())
print(practice.sum(axis=1))
print(practice.max(axis=1))
print(practice.mean(axis=0))
print(practice.min(axis=0))

9.0
[32.  30.7 34.3 24.7 29.7]
[8.  9.  8.9 8.2 8.9]
[4.02 5.4  4.72 5.2  5.64 5.3 ]
[0.7 1.1 2.7 2.1 2.8 0.2]

정렬

numpy.sort()를 사용하여 배열 안의 원소를 크기에 따라 정렬하여 새로운 배열을 만들 수도 있습니다.
2차원 이상인 경우에는 행이나 열을 각각 따로따로 정렬하는데 axis인수를 사용하여 행을 정렬할 것인지 열을 정렬한 것인지 결정합니다.
axis=0이면 각각의 행을 따로따로 정렬하고 axis=1이면 각각의 열을 따로따로 정렬합니다. 디폴트 값은 -1 즉 가장 안쪽(나중)의 차원입니다.

ndarray.sort() 메서드는 해당 객체의 자료 자체가 변화하는 자체변화 메서드이므로 사용할 때 주의를 기울여야 합니다.

만약 자료를 정렬하는 것이 아니라 순서만 알고 싶다면 argsort 명령을 사용합니다.

In [607]:
a = np.array([42,38,12,25])
j = np.argsort(a)
j

array([2, 3, 1, 0])

In [608]:
a[j]

array([12, 25, 38, 42])

In [609]:
np.sort(a)

array([12, 25, 38, 42])

In [611]:
a = np.array([[1,2],[3,4],[5,6]])
a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [658]:
print(a[:,[0,1,0]])

[[1 2 1]
 [3 4 3]
 [5 6 5]]

In [654]:
scores = np.array([[1,2,3,4],[44,99,100,71],[81,59,90,100]])
scores

array([[  1,   2,   3,   4],
       [ 44,  99, 100,  71],
       [ 81,  59,  90, 100]])

In [675]:
res=np.argsort(scores[1,::])
print(res)

print(scores[:,res])

[0 3 1 2]
[[  1   4   2   3]
 [ 44  71  99 100]
 [ 81 100  59  90]]

1.5

기술 통계

데이터의 개수 len(x)
평균 = np.mean(x)
분산 = np.var(x)
표준 편차 = np.std(x)
최대값 = np.max(x)
최소값 = np.min(x)
중앙값 = np.median(x)
사분위수 = np.quartile(x)
퍼센트 = np.percentile(x, 숫자)

무작위 수는 사실 엄격한 의미의 무작위 수가 아닙니다. 어떤 특정한 시작 숫자를 정해 주면 컴퓨터가 정해진 알고리즘에 의해 마치 난수처럼 보이는 수열을 생성합니다. 

파이썬에서 시드를 설정하는 함수는 seed이다. 인수로는 0과 같거나 큰 정수를 넣어줍니다.

데이터의 순서를 바꾸려면 shuffle 함수를 사용합니다. shuffle 함수도 자체 변환 함수로 한 번 사용하면 변수의 값이 바뀝니다.

이미 있는 데이터 집합에서 일부를 무작위로 선택하는 것을 표본선택 혹은 샘플링이라고 합니다. 샘플링에는 choice함수를 사용합니다.
choice함수는 다음과 같은 인수를 가질 수 있습니다.

a : 배열이면 원래의 데이터, 정수이면 arange(a) 명령으로 데이터 생성
size : 정수. 샘플 숫자
replace : 불리언. True이면 한번 선택한 데이터를 다시 선택 가능
p : 배열. 각 데이터가 선택될 수 있는 확률

In [685]:
print(np.random.seed(0))
print(np.random.rand(5))
print(np.random.rand(10))
print(np.random.rand(10))

None
[0.5488135  0.71518937 0.60276338 0.54488318 0.4236548 ]
[0.64589411 0.43758721 0.891773   0.96366276 0.38344152 0.79172504
 0.52889492 0.56804456 0.92559664 0.07103606]
[0.0871293  0.0202184  0.83261985 0.77815675 0.87001215 0.97861834
 0.79915856 0.46147936 0.78052918 0.11827443]

In [700]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [701]:
np.random.shuffle(x)
x

array([7, 8, 6, 5, 0, 3, 2, 4, 1, 9])

In [703]:
np.random.choice(5,5,replace=False) #shuffle 명령과 같다

array([0, 1, 4, 2, 3])

In [705]:
np.random.choice(5,3,replace=False) # 3개만 선택

array([4, 3, 2])

In [712]:
np.random.choice(5,10)

array([0, 0, 1, 2, 0, 3, 1, 1, 4, 0])

In [711]:
np.random.choice(5,10, p=(0.1, 0, 0.3, 0.6, 0)) # 선택 확률을 다르게 해서 10개 선택

array([3, 3, 3, 3, 3, 3, 3, 3, 0, 2])

난수 생성

rand : 0부터 1사이의 균일 분포
randn : 표준 정규 분포
randint : 균일 분포의 정수 난수

In [714]:
print(np.random.rand(10))
print(np.random.rand(3,5))

[0.7142413  0.99884701 0.1494483  0.86812606 0.16249293 0.61555956
 0.12381998 0.84800823 0.80731896 0.56910074]
[[0.4071833  0.069167   0.69742877 0.45354268 0.7220556 ]
 [0.86638233 0.97552151 0.85580334 0.01171408 0.35997806]
 [0.72999056 0.17162968 0.52103661 0.05433799 0.19999652]]

In [715]:
print(np.random.randn(10))
print(np.random.randn(3,5))

[-0.66110423 -1.18019102  0.19764264  0.41389998  1.19732198  1.88335386
  0.71422382  2.28433335  1.56410258  0.61110371]
[[-0.87736332 -1.6210875  -0.581673   -0.53783395 -1.55602368]
 [-0.05446484 -1.81127879 -0.63117522 -0.92815918  1.49072192]
 [ 0.19549934 -0.47160433  1.81235465 -2.29413748  0.65120935]]

In [719]:
print(np.random.randint(10, size=10)) 
print(np.random.randint(10, 20, size=10)) # 끝 숫자를 포함하지 않는다.
print(np.random.randint(10, 20, size=(3,5)))

[6 5 0 0 3 1 9 9 6 6]
[17 18 18 17 10 18 16 18 19 18]
[[13 16 11 17 14]
 [19 12 10 18 12]
 [17 18 14 14 11]]

In [791]:
np.random.seed(0)
coin = np.random.randint(0,2, size=100)

print(coin)

np.sum(coin==1)/coin.size

[0 1 1 0 1 1 1 1 1 1 1 0 0 1 0 0 0 0 0 1 0 1 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0
 1 1 0 0 1 0 1 1 1 1 1 0 1 0 1 1 1 1 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 1 1 0 0
 0 1 1 0 1 0 0 1 0 1 1 1 1 1 1 0 1 1 0 0 1 0 0 1 1 0]

0.56

In [799]:
np.random.seed(0)
dice = np.random.randint(1,7,100)
print(dice)
dice.mean()
# np.sum(dice)/dice.size

[5 6 1 4 4 4 2 4 6 3 5 1 1 5 3 2 1 2 6 2 6 1 2 5 4 1 4 6 1 3 4 1 2 4 6 4 4
 1 2 2 2 1 3 5 4 4 3 5 3 1 1 5 6 6 1 5 2 5 2 3 3 1 2 2 2 2 4 4 3 4 1 4 6 5
 2 3 5 4 5 5 5 4 5 5 5 1 5 4 3 6 6 6 1 2 6 2 4 1 6 1]

3.42

!정수 데이터 카운팅

난수가 정수값이면 unique 명령이나 bincount 명령으로 데이터 값을 분석 할 수 있습니다.

unique() 함수는 데이터에서 중복된 값을 제거하고 중복되지 않는 값의 리스트를 출력합니다.

return_counts 인수를 True 로 설정하면 각 값의 데이터 개수도 출력합니다.

그러나 unique()는 데이터에 존재하는 값에 대해서만 개수를 세므로 데이터 값이 나올 수 있음에도 불구하고 데이터가 하나도 없는 경우에는 정보를 주지 않습니다. 예를 들어 주사위를 10번 던졌는데 6이 한 번도 나오지 않으면 이 값을 0 으로 세어주지 않습ㄴ다.

따라서 데이터가 주사위를 던졌을 때 나오는 수처럼 특정 범위안의 수인 경우에는 bincount함수에 minlength 인수를 설정하여 쓰는 것이 더 편리하다. bincount 함수는 0부터 minlength -1 까지의 숫자에 대해 각각 카운트 합니다. 데이터가 없을 경우에는 카운트 값이 0 이 됩니다.

In [810]:
print(np.unique([11,11,2,22,34,34,34]))
print(np.unique([11,11,2,2,34,34,91], return_counts = True))

[ 2 11 22 34]
(array([ 2, 11, 34, 91]), array([2, 2, 2, 1]))

In [802]:
np.bincount([1,1,2,2,2,3], minlength=6)

array([0, 2, 3, 1, 0, 0])