In [13]:
scores = [88, 73, 89, 59, 77]
print (scores[0] >= 60 and scores[1]>= 60 and scores[2]>= 60 and scores[3] >=60 and scores[4] >=60)

False

## **리스트 메소드**
### append 맨 뒤에 추가
### insert는 요소를 원하는 인덱스 위치에 넣을 수 있다.
#### insert(인덱스 , 요소)
### extend는 리스트에 리스트를 뒤로 붙인다.
### remove(요소) 리스트에서 요소와 같은 걸 삭제한다.
### pop() : 제일 뒤에 오는 요소를 반환한다. 그리고 리스트에서 삭제한다.
### index(인자) : 리스트 안에 인자와 같은 요소를 앞에서 부터 찾습니다. 제일 처음 발견된 요소의 인덱스 위치를 반환합니다.
### count(인자) : 리스트 안에 인자와 같은 요소가 몇개가 있는지 반환된다.
### 리스트 정렬하기
- sort()는 오름차순
- reverse()는 순서를 뒤집는다.    
반환값은 둘다 None

In [32]:
numbers=[1,2,3]
numbers.append(8)
print(numbers)
numbers.insert(0,0)
numbers.insert(4,0)
numbers.insert(len(numbers),0)
print(numbers)
numbers.extend([4,5,6])
print(numbers)
numbers.remove(0)
print(numbers)

print(numbers.pop())
print(numbers)


print(numbers.index(0))

print(numbers.count(0))

numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 2, 3, 8]
[0, 1, 2, 3, 0, 8, 0]
[0, 1, 2, 3, 0, 8, 0, 4, 5, 6]
[1, 2, 3, 0, 8, 0, 4, 5, 6]
6
[1, 2, 3, 0, 8, 0, 4, 5]
3
2
[0, 0, 1, 2, 3, 4, 5, 8]
[8, 5, 4, 3, 2, 1, 0, 0]

In [35]:
stack = [3,4,5]
stack.append(6)
stack.append(7)

print(stack)
print(stack.pop())
print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]

# 튜플
## 튜플은 수정 및 삭제가 불가능하다  
튜플은 슬라이싱으로도 수정 불가능
## 튜플 자료형은 소괄호 생략이 가능하다.


## 튜플은 왜 사용할가?
리스트는 크기가 바뀔 수 있기 때문에 그에 따른 초과 할당까지 고려해서 메모리에 데이터를 저장할 수 있을지 신경 써야함.  
튜플은 빠르게 생성할 수 있고 리스트보다 메모리 부담이 적은 대신 그 내용을 변경 할 수없다.

In [36]:
tuple_variable = (1,2,3,4,5,'hello')
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [37]:
tuple_variable[1:3] = ("dd","ee")

TypeError: 'tuple' object does not support item assignment

In [38]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
t_v = "음","오","아","예"
print(type(t_v))
print(t_v)

<class 'tuple'>
('음', '오', '아', '예')

### 튜플과 리스트의 소요시간 비교

In [167]:
import time
curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i,j))

last = time.time()
print(last - curr)

0.16374564170837402

In [168]:
import time
curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append([i,j])

last = time.time()
print(last - curr)

0.21321487426757812

In [61]:
s1,s2 = "text1", "text2"
print(s1)
print(s2)

s3,s4,s5 =["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

s6,s7,s8,s9="문자열도"
print(s6,s7,s8,s9)

text1
text2
이렇게 리스트도 가능합니다.
문 자 열 도

In [62]:
input_value = input("Message")

Message 1111

In [63]:
print("input_value:", input_value, "\ntpye:", type(input_value))

input_value: 1111
tpye: <class 'str'>

In [74]:
input_value4 = int(input("정수를 입력해주세요 :"))
print(input_value4)

정수를 입력해주세요 : 12312

12312

In [82]:
name = input("이름을 입력하시오 :")
print(name,"씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
num1 = int(input("첫 번째 정수를 입력하세요:"))
num2 = int(input("두 번째 정수를 입력하세요:"))
print(num1,"과",num2,"의 합은", num1+num2 ,"입니다.")

이름을 입력하시오 : encore

encore 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [86]:
stage = input("경기장은 어디입니까?")
wteam = input("이긴 팀은 어디입니까?")
lteam = input("진 팀은 어디입니까?")
player = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇 입니까?")

print(wteam,"가",score,"로 승리...\n오늘 고척 경기장에서 야구 경기가 있었습니다.\n",wteam,"와",lteam,"는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", player, "가 맹활약을 했습니다.\n그 끝내",wteam,"가",lteam,"를",score,"로 승리 하였습니다.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? kt
진 팀은 어디입니까? lg
우수 선수는 누구입니까? 강백호
스코어는 몇대몇 입니까? 10:9

kt 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
 kt 와 lg 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 kt 가 lg 를 10:9 로 승리 하였습니다.

In [87]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [91]:
# time = input("hh:mm:ss의 형태로 시간을 입력해주세요")

# time = time.split(':')
# print("시 :",time[0])
# print("분 :",time[1])
# print("초 :",time[2])


h,m,s = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(":")

print("시 :",h)
print("분 :",m)
print("초 :",s)

hh:mm:ss의 형태로 시간을 입력해주세요 11:22:33

시 : 11
분 : 22
초 : 33

In [92]:
# map(function. iterable) 

a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

In [115]:
# kor, eng, mat, sci = input("점수를 입력해 주세요").split(" ")

# score = [kor, eng, mat, sci]

# a = list(map(int,score))

# avg = (a[0]+a[1]+a[2]+a[3])/4

# print(avg)


kor, eng, mat, sci = map(int,input("국어, 영어, 수학, 과학, 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci)/4
print(avg)

국어, 영어, 수학, 과학, 점수를 입력해주세요 1,2,3,4

2.5

In [117]:
print("value", 1, 1.1, [1,2,'text'], sep=',')

value,1,1.1,[1, 2, 'text']

In [119]:
print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문 입니다.")
print("sep", "end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.", sep=", ",end="")
print("어떻게 사용하는지","이해가 되시나요", sep="\n", end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n\과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문 입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [125]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep="/",end=" ")
print(hour, minute, second, sep=":")

2021/02/03 18:33:23

In [128]:
apple, gyuel = map(int,input("사과와 귤을 몇개 드릴까요?").split(","))
price = 1000*apple + 200*gyuel
print("총 가격은 ",price,"원입니다.",sep="")

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다.

In [129]:
if type(input_value4) is int:
    print("input_value는 정수입니다.")

input_value는 정수입니다.

In [130]:
age = 39

if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

30대 입니다.
감사합니다.

In [166]:
ID = input("아이디를 입력하세요 : ")

if ID == "admin" :
    print("\n최고 관리자, 모든 권한을 갖습니다.")

    
else :
    grade = int(input("회원 등급을 입력해주세요 : "))
    if 1<= grade <=3 :    
        print("\n제한적인 권한을 갖습니다.")
    else : 
        print("\n권한이 없습니다.")

아이디를 입력하세요 :  admin

최고 관리자, 모든 권한을 갖습니다.