random 라이브러리

임의의 수를 생성할 때 사용하는 표준 라이브러리입니다.

random randint(시작 정수,끝 정수) 함수를 활용하면 시작 정수부터 끝 정수까지 범위의 난수를 생성할 수 있습니다.

In [1]:
import random
random_list = [random.randint(1,2) for _ in range(10)]
print(random_list)

[1, 2, 2, 2, 2, 1, 2, 2, 2, 1]

In [104]:
# 로또 번호 만들기

import random

num = int(input('로또 번호 몇 개 드릴까요 ?'))
# lotto = []
# lotto_num= random.randint(1,45)

for i in range(num):
    lotto = []
    while len(lotto) <6 :
        lotto_num = random.randint(1,45)
        if lotto_num in lotto:
            continue
        else: 
            lotto.append(lotto_num)
        
    lotto.sort()    
    print(lotto)

로또 번호 몇 개 드릴까요 ? 6

[3, 16, 19, 37, 38, 40]
[9, 12, 13, 15, 21, 42]
[1, 3, 17, 28, 29, 31]
[9, 17, 18, 23, 27, 34]
[6, 19, 31, 35, 38, 41]
[20, 22, 35, 36, 39, 40]

In [ ]:
for i in range(num):
    lotto = [j for j in range(1,46)]
    lotto_numbers = []
    for _ in range(6):
        lotto_number = lotto[random.randint(1,len

# 세트 자료형(set)

수학에 나오는 집합을 영어로 set라 합니다. 그 집합과 set 자료형은 맥락이 같습니다.
합집합, 교집합, 차집합과 같은 처리가 가능합니다.

세트는 딕셔너리처럼 중괄호를 사용해서 생성합니다.

세트 자료형은 인덱스를 갖지 않습니다. 이 자료형에서 요소는 키와 값 역할 모두 한다고 생각하면 됩니다. 

set_variable = {expression for 변수 in iterable if 조건식}

요소를 삭제하는 다른 방법으로 메서드 discard() 입니다. 세트자료형.discard(요소)와 같이 입력하면 된다.
discard() 메서드는 삭제하려는 요소가 세트 자료형에 없어도 에러가 나지 않는다.

요소를 랜덤하게 삭제하는 메서드는 pop()입니다. 세트 자료형.pop()와 같이 입력하면된다.
pop() 메서드는 삭제하려는 요소를 임의로 선택하고 반환한 뒤 삭제한다. 세트 자료형 내에서 더이상 삭제할 요소가 없다면 KeyError를 발생한다.

세트 자료형에서 요소 전체를 삭제하는 메서드는 clear()이다.

In [106]:
print(type({}))
print(set())

<class 'dict'>
set()

In [108]:
set_variable = set()

# 정수 1값을 set_variable에 5차례 넣습니다.
[set_variable.add(1) for _ in range(5)]
# 출력하면 중복된 값 없이 요소를 갖는것을 볼 수 있다.
print(set_variable)

{1}

In [109]:
set_variable = {_ for _ in range(20) if _%3 == 0}
print(set_variable)
set_variable.clear()
print(set_variable)

{0, 3, 6, 9, 12, 15, 18}
set()

In [111]:
set_variable = {_ for _ in range(20) if _%3 == 0}
print(f'{set_variable} 개수는 {len(set_variable)} 입니다.')

{0, 3, 6, 9, 12, 15, 18} 개수는 7 입니다.

In [116]:
# 세트 자료형 - 차집합 : union(), |
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ !=3}

print("A:", A, "\nB", B)
print("set.union(A, B):", set.union(A, B))
print("A|B :", A|B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.union(A, B): {1, 2, 3, 4, 5}
A|B : {1, 2, 3, 4, 5}

In [114]:
# set자료형 - 교집합 : intersection, &
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ !=3}

print("A:", A, "\nB", B)
print("set.union(A, B):", set.intersection(A, B))
print("A&B :", A&B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.union(A, B): {2, 4}
A&B : {2, 4}

In [115]:
# 세트 자료형 - 차집합 : difference(), -
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ !=3}

print("A:", A, "\nB", B)
print("set.union(A, B):", set.difference(A, B))
print("A-B :", A-B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.union(A, B): {1, 3}
A-B : {1, 3}

In [117]:
# 세트 자료형 - 대칭차집합 : symmetric_difference(), ^
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ !=3}

print("A:", A, "\nB", B)
print("set.union(A, B):", set.symmetric_difference(A, B))
print("A-B :", A^B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.union(A, B): {1, 3, 5}
A-B : {1, 3, 5}

In [119]:
# 세트 자료형 - update(), |=
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ !=3}

print("A:", A, "\nB", B)
A.update(B)
print("A.update(B) :", A)

A: {1, 2, 3, 4}
B {2, 4, 5}
A.update(B) : {1, 2, 3, 4, 5}

In [120]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ !=3}

print("A:", A, "\nB", B)
A.intersection_update(B) 
print("A.update(B) :", A)

A: {1, 2, 3, 4}
B {2, 4, 5}
A.update(B) : {2, 4}

In [206]:
import random

lotto = set()
for i in range(4):
    lotto = set()
    while len(lotto) != 6 :
        lotto = {random.randint(1,45) for _ in range(6)}
    result = list(lotto)
    result.sort()
    print(result)

[1, 6, 15, 16, 38, 42]
[10, 20, 26, 32, 39, 44]
[7, 11, 19, 22, 26, 32]
[1, 5, 25, 31, 37, 38]

In [200]:
list_sample = [1,2,2,3,3,3,4,4,4,4]

print(set(list_sample))

{1, 2, 3, 4}

In [204]:
set_3 = {i for i in range(1,101) if i%3==0}
set_5 = {i for i in range(1,101) if i%5==0}

result_set = set_3&set_5 # set.intersection(set_3, set_5)

print(result_set)

{75, 45, 15, 90, 60, 30}

In [232]:
role_admin = ('회계 관리', '인사 관리', '구매 관리', '시스템 관리')
role_hr = ('인사 관리', '개인정보 조회', '회계 관리', '근태 관리')
role_user = ('개인정보 조회', '근태 관리')

result = role_admin+role_hr+role_user
result = set(result)

print(result)

result = list(result)
result.sort()

print(result)
end_char = ","
for menu in result :
    if result[-1] == menu:
        end_char = ""
    print(menu, end=end_char)

{'회계 관리', '개인정보 조회', '구매 관리', '시스템 관리', '근태 관리', '인사 관리'}
['개인정보 조회', '구매 관리', '근태 관리', '시스템 관리', '인사 관리', '회계 관리']
개인정보 조회,구매 관리,근태 관리,시스템 관리,인사 관리,회계 관리

In [279]:
print('2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.')
num = int(input('찾는 범위를 입력하세요 : '))
i=2
line = 0 
# while i <= len(range(num)):
#     if i==2 or i==3 or i==5 or i== 7:
#         print(i, end=' ')
#         i+=1
#     elif i%2 == 0 or i%3 == 0 or i%5 == 0 or i%7 == 0:
#         i+=1
#         continue
#     else:
#         print(i, end=' ')
#         i+=1
#     line += 1
#     if line == 7:
#         line=0
#         print()
        


while i <= num:
    j=2
    while j<=i:
        if i%j == 0 :
            break
        j+=1
    if i==j:
        print(i, end = ' ' )
        line +=1
        if line == 7:
            line=0
            print()
    i+=1

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.

찾는 범위를 입력하세요 :  200

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97 101 103 107
109 113 127 131 137 139 149
151 157 163 167 173 179 181
191 193 197 199

함수가 호출되면 함수 정의부로 가서 함수호출부의 인수 값을 함수 정의부 인자 값에 순서대로 대입 후 함수 정의부 내부 코드를 순차적으로 실행합니다. 해달 함수에 return 값이 있는 경우 , 함수 호출부를 return값으로 치환합니다.

# 호출 하는 곳
x= 함수명(인수,인수,...) #argument
print('결과 값:',x)

# 정의 하는 곳
def 함수명(인자, 인자, ...): #parameter
    함수코드...
    
    return 반환값
    
함수 호출을 하면 함수가 정의된 곳에서 코드를 실행하고 반환 값을 받아온다.

함수는 클래스에 포함되지 않은 채로 사용됩니다.

매서드는 클래스에 포함되어 객체를 통해 호출됩니다.

In [290]:
def fuction_name(message):
    x = input(message)
    print(x)
    print(x+'z')
    return message
    
fuction_name('ㅋ')

ㅋ 1

1
1z

'ㅋ'

def 함수_이름(위치_인자, 위치_인자2, *가변_위치, 키워드_인자, 키워드_인자2, **가변_키워드):
    """
    
    Docs String 부분입ㄴ다.
    이곳에 함수의 설며에 대해 적어놓으면 좋습니다.
    
    """
    
    함수의 바디
    함수의 바디
    
    retrun 반환값

In [292]:
def function2(위치_인자, 위치_인자2, *가변_위치, 키워드_인자, 키워드_인자2, **가변_키워드):
    """
    
    Docs String 부분입ㄴ다.
    이곳에 함수의 설며에 대해 적어놓으면 좋습니다.
    
    """
    pass

In [293]:
print(function2.__doc__)

    Docs String 부분입ㄴ다.
    이곳에 함수의 설며에 대해 적어놓으면 좋습니다.

In [ ]:
# 함수 정의절
def function_name(positional, positional2, *args, keyword1=1, **kargs):
    pass # body

In [315]:
def get_grade(score, student_number,name='홍길동'):
    """
    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    
    print(f'{student_number} {name}의 성적을 확인합니다.')
    
    if 85 <= score <= 100:
        return 'A'
    elif 70 <= score <= 84:
        return 'B'
    elif 55 <= score <= 69:
        return 'C'
    elif 40 <= score <= 54:
        return 'D'
    elif 0 <= score <= 39:
        return 'E'

In [321]:
get_grade(100  , name='홍' ,student_number = '123')

123 홍의 성적을 확인합니다.

'A'

In [302]:
print(get_grade.__doc__)

    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.

In [299]:
result = get_grade(100)
print(result)

A

In [300]:
import random

# 20명의 점수를 입력했다.
scores = [random.randint(1, 100) for _ in range(20)]
print(scores)

[78, 24, 71, 64, 4, 80, 49, 100, 61, 64, 57, 19, 43, 5, 83, 88, 30, 73, 11, 3]

In [301]:
grades = list(map(get_grade, scores))
print(grades)

['B', 'E', 'B', 'C', 'E', 'B', 'D', 'A', 'C', 'C', 'C', 'E', 'D', 'E', 'B', 'A', 'E', 'B', 'E', 'E']

In [362]:
# 함수 정의절
# 인자(매개변수, parameter) - non-default, default 종류
# positional-only : /문자를 기준으로 왼편에 온다.
# keyword- ony : * 문자 기준으로 오른편에 온다.
def minus_number(*, num1, num2=3):
    """
    숫자1과 숫자2를 전달 받아 더한 결과를 반환합니다.
    """
    return num1-num2

In [339]:
# 함수를 호출
# 인수(argument) - positional argument, keyword argumnet
result=minus_number(num1=20, num2=5)
print(result)

15

In [361]:
# 함수 정의절
# 인자(매개변수, parameter) - non-default, default 종류
# positional-only : /문자를 기준으로 왼쪽에 온다.
# keyword- ony : * 문자 기준으로 오른쪽에 온다.
def multi_number( num1, /,*, num2=3):
    """
    숫자1과 숫자2를 전달 받아 더한 결과를 반환합니다.
    """
    return num1*num2

In [344]:
multi_number(3, num2=10)

30

In [345]:
def string_line(str_value, /, str_len=70, *, sep='#'):
    """
    str_value는 가운데 오는 텍스트입니다.
    str_len은 텍스트의 길이입니다.
    sep는 구분선을 그을때 쓰는 문자입니다.
    """
    print(str_value.center(str_len, sep))

In [346]:
string_line('구분', 50, sep='*')

************************구분************************

In [347]:
string_line('절취선', str_len=100, sep='-')

------------------------------------------------절취선-------------------------------------------------

In [348]:
print('1','1','1','1','1','1')

1 1 1 1 1 1

In [354]:
# *args : var positional 가변 위치
def test_func(a,b,c, *args):
    print(f'a:{a} b:{b} c:{c}')
    print(type(args))
    print(args)

In [355]:
test_func('a 위치입니다.', 'b 위치입니다.', 'c 위치입니다.', '여기는', '어딜까요', '몇개', '더')

a:a 위치입니다. b:b 위치입니다. c:c 위치입니다.
<class 'tuple'>
('여기는', '어딜까요', '몇개', '더')

In [359]:
# **kargs : var keyword 가변 키워드
def test_func2(a='a',b='b',**kargs):
    print(a,b)
    print(type(kargs))
    print(kargs)

In [360]:
test_func2(a='ab', b='bc', key='value', key2='value2')

ab bc
<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [363]:
def plus_ten(num):
    return num+10

In [365]:
print(plus_ten(20))

30